:root{
    --cor-fundo:#f1f5f9;
    --cor-card:#ffffff;
    --cor-primaria:#2563eb;
    --cor-secundaria:#16a34a;
    --cor-alerta: red;
    --cor-texto:#000000;
    --fundo-card-principal:#e6ffee;
    
    --fonte-padrao:'Arial, sans-serif';
    --raio:10px;
    --sombra:0 4px 10px rgba(0,0,0,0.1);
    --espacamento: 16px;
    --espacamento-2:30px;
    --espacamento-superior: 20px;
    --cor_paragrafo-azul:var(--cor-primaria);
    --cor_paragrafo-verde:var(--cor-alerta);
    --cor_paragrafo-vermelho:var(--cor-secundaria);
    }
    
    
    body{
        margin: 0;
        padding: 40px;
        background-color: var(--cor-fundo);
        font-family: var(--fonte-padrao);
        color: var(--cor-texto);
    }
    
    h1{
        text-align: center;
        margin-bottom: var(--espacamento-2);
    }
    
    .cards {
    background-color: var(--fundo-card-principal);
    padding: var(--espacamento);
    border-radius: var(--raio);
    box-shadow: var(--sombra);
    border-top:var(--espacamento) ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    gap: 20px;
    
    }
    
    .card_azul{
        
        background-color: var(--cor-card);
        padding: var(--espacamento);
        border-radius: var(--raio);
        box-shadow: var(--sombra);
        border-top:var(--espacamento) ;
        margin-top: var(--espacamento-superior);
    
    }
    
    .card_verde{
        background-color: var(--cor-card);
        padding: var(--espacamento);
        border-radius: var(--raio);
        box-shadow: var(--sombra);
        border-top:var(--espacamento) ;
        margin-top: var(--espacamento-superior);
    
    }
    
    
    .card_vermelho{
        background-color: var(--cor-card);
        padding: var(--espacamento);
        border-radius: var(--raio);
        box-shadow: var(--sombra);
        border-top:var(--espacamento) ;
        margin-top: var(--espacamento-superior);
    
    }
    
    .card_azul h2{
    
    margin-top: 0;
    font-size: 25px;
    
    }
    
    .card_verde h2{
    
        margin-top: 0;
        font-size: 25px;
        
    }    
    
    
    .card_vermelho h2{
    
        margin-top: 0;
        font-size: 25px;
        
    }    
    
    .card_azul p{
    color:var(--cor_paragrafo-azul);
    
    }
    
    .card_verde p{
        color:var(--cor_paragrafo-verde);
        
        }
    
    
        .card_vermelho p{
            color:var(--cor_paragrafo-vermelho);
            
            }